<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/head.ejs'); %>
  <style>
    body,
    html {
      font-size: 0.8em; 
      line-height: 1.1; 
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    .pdf-container {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding: 5mm 5mm; 
      box-sizing: border-box;
      page-break-inside: avoid;
      overflow: hidden;
    }

    .contract-details, .summary, .detail, .invoice-footer {
      page-break-inside: avoid;
      margin-bottom: 5px; 
    }

    .summary,
    .detail {
      font-size: 0.8em; 
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table th, 
    table td {
      padding: 2px 4px;
    }

    @media print {
      body,
      html {
        transform-origin: left;
        overflow: visible;
        font-size: 0.8em;
      }
      .pdf-container {
        page-break-inside: avoid;
        overflow: visible;
        width: 90%;
        margin: 0 auto;
      }

      @page {
        size: letter;
        margin: 5mm;
      }
    }
  </style>
</head>

<body class="pdf-container">
  <div>
    <%- include('./header.ejs'); %>
    <%- include('./invoiceRemark.ejs'); %>
    <%- include('./contractRemark.ejs'); %>
    <%- include('./billCalculations.ejs') %>
  </div>
  <div>
    <%- include('./footer.ejs'); %>
  </div>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
</body>

</html>
