<table class="border" style="margin-top: 20px;">
    <thead>
        <tr style="background-color: lightgray;">
            <th colspan="8">Sales Order No</th>
            <th colspan="8">P.O. Number</th>
            <th colspan="8">Ship Method</th>
            <th colspan="8">Payment Method</th>
            <th colspan="8">Payment Due</th>
            <th colspan="8">Vendor No.</th>
        </tr>
        <tr>
            <td colspan="8">
                <%= "" %>
            </td>
            <td colspan="8">
                <%= "" %>
            </td>
            <td colspan="8">
                <%= "" %>
            </td>
            <td colspan="8">COD</td>
            <td colspan="8">
                <%= convertDateFormat(dueDate) %>
            </td>
            <td colspan="8">
                <%= billTo.name==='CUSTOMER' ? customer.name : billTo.name %>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: lightgray;">
            <th colspan="50" style="text-align: center;">
                Remarks
            </th>
        </tr>
        <tr>
            <td colspan="50" style="padding: 5px 0px 5px 5px;">
                <%= remarks || 'NA' %>
            </td>
        </tr>
        <tr style=" background-color: lightgray;">
            <th colspan="16">Item</th>
            <th colspan="20">Description</th>
            <th colspan="2">Quantity</th>
            <th colspan="4">UM</th>
            <th colspan="2">Price</th>
            <th colspan="2">Discount</th>
            <th colspan="2">Amount</th>
        </tr>
        <% items.forEach((item, ind)=> { %>
            <tr class="cell-bottom-none">
                <td colspan="16">
                    <%= item.name %>
                </td>
                <td colspan="20">
                    <%= item?.description || "" %>
                </td>
                <td colspan="2">
                    <%= item?.quantity %>
                </td>
                <td colspan="4">EACH</td>
                <td colspan="2">$<%= addTrailingZeros(item.price) %></td>
                <td colspan="2">
                    <%= item.discount ? '$' + addTrailingZeros(item.discount) : "" %>
                </td>
                <td colspan="2">$<%= addTrailingZeros(item.quantity * item.price) %></td>
            </tr>
            <% }); %>
                <% Array.from({length: 30 - items.length}).forEach((it, ind)=> { %>
                    <tr class="cell-bottom-none">
                        <td colspan="16">&nbsp;</td>
                        <td colspan="20"></td>
                        <td colspan="2"></td>
                        <td colspan="4"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                    </tr>
                    <% }); %>
    </tbody>
</table>